deploy-quarkus.yaml
install_docker.yaml
Jenkinsfile.dock
Jenkinsfile.k8s

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.lock.hcl*
*.tfvars*


# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan output
*.tfplan

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI configuration
.terraformrc
terraform.rc

# Backup files
*.backup
*.bak
*.swp
