- hosts: rocky_nodes
  become: true

  tasks:
    - name: Ensure Docker SDK for Python is present
      package:
        name: python3-docker
        state: present

    - name: Pull image
      docker_image:
        name: "registry.black-crab.cc/demo-quarkus:latest"
        source: pull

    - name: Run container
      community.docker.docker_container:
        name: demo-quarkus
        image: "registry.black-crab.cc/demo-quarkus:latest"
        state: started
        restart_policy: always
        recreate: true
        published_ports:
          - "8080:8080"
